/* dashboard.css */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

/* Apply Oswald font to h1 and h2 tags */
h1, h2, h3, h4, h5 {
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    /* font-weight: 400; Adjust weight as needed */
}

.f-h1 {
    font-family: "oswald", sans-serif;
    text-transform: uppercase;
    font-size: 1.25rem;
}
.oswald_font {
    font-family: "Oswald", sans-serif;
}

p {
    margin-bottom: 0;
}



.titleClass {
    padding: 0;
    margin: 0;
    background-color: transparent;
    font-family: "oswald", sans-serif;
    font-size: 1.25rem;
    outline: none;
    border: none;
    resize: none;
    text-transform: uppercase;
}
.positionTitle {
    padding: 0;
    margin: 0;
    background-color: transparent;
    font-family: "oswald", sans-serif;
    outline: none;
    border: none;
    resize: none;
}

textarea {
    padding: 0;
    margin: 0;
    background-color: transparent;
    outline: none;
    border: none;
    resize: none;
    width: 100%;
    height: auto;
}